<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>修改頁面</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <form action="/food/<%= foundData._id%>?_method=PATCH" method="POST">
      <div>
        <label for="food-name">食物名稱</label>
        <input
          type="text"
          id="food-name"
          name="name"
          value="<%=foundData.name %>"
        />
        <br />
        <label for="per">份數</label>
        <input type="text" id="per" name="per" value="<%=foundData.per %>" />
        <label for="category">種類</label>
        <select id="category" name="category">
          <option>--請選擇食物種類--</option>
          <option>五穀根莖</option>
          <option>蛋白質</option>
          <option>脂肪</option>
          <option>蔬菜</option>
          <option>其他</option>
        </select>

        <br />

        -------------------------------------營養素標示-------------------------------------
        <br />
        <label for="cal">熱量</label>
        <input
          type="number"
          id="cal"
          min="0"
          max="2000"
          name="cal"
          value="<%=foundData.composition.cal %>"
        />大卡<br />
        <label for="water">水分</label>
        <input
          type="number"
          id="water"
          min="0"
          max="2000"
          name="water"
          value="<%=foundData.composition.water %>"
        />g<br />
        <label for="protein">蛋白質</label>
        <input
          type="number"
          id="protein"
          min="0"
          max="2000"
          name="protein"
          step="0.1"
          value="<%=foundData.composition.protein %>"
        />g<br />
        <label for="fat">脂肪</label>
        <input
          type="number"
          id="fat"
          min="0"
          max="2000"
          name="fat"
          step="0.1"
          value="<%=foundData.composition.fat %>"
        />g<br />
        <label for="carb">碳水</label>
        <input
          type="number"
          id="carb"
          min="0"
          max="2000"
          name="carb"
          step="0.1"
          value="<%=foundData.composition.carb %>"
        />g <br /><button>修改</button>
      </div>
    </form>
    <br />
    <a href="/food/">返回首頁</a>
    <a href="/food/<%=foundData._id%>">返回<%=foundData.name%>頁面</a>
  </body>
</html>
